<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<ul class="topnav" th:if="${sessions != null}">
    <li><a href="/">DASHBOARD</a></li>
    <li class="dropdown">
        <a href="#">USERS</a>
        <div class="dropdown-content">
            <a href="/user/list">LIST</a>
            <a href="/user/find">FIND</a>
            <a href="/user/register">REGISTER</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="active" href="#">MOVIES</a>
        <div class="dropdown-content">
            <a href="/movie/ratings">RATINGS</a>
            <a href="/movie/search">SEARCH</a>
            <a href="/movie/myfav">FAVOURITE</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="#">MORE</a>
        <div class="dropdown-content">
            <a href="/user/about-us">ABOUT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </li>
</ul>
<div class="content">
    <h2 class="reg-header">User Registration</h2>
    <form th:action="@{/user/register}" th:method="POST" th:object="${user}" enctype="multipart/form-data" id="add-form">
        <div class="imgcontainer">
            <img th:src="@{/img/M_A movies_full_edited.png}" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" id="username" placeholder="username" th:field="*{username}" required/>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="password" th:field="*{password}" required/>

            <label for="cpassword"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" id="cpassword" th:field="*{confirmPassword}" required/>
            <span id='message'></span>
            <div th:if="${sessions != null}">
                <div th:if="${userRole=='ADMIN'}">
                    <label for="role">Roles</label>
                    <select name="role" id="role" th:field="*{role}" required>
                        <option th:each="role, iteration: ${roles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                </div>
            </div>
            <label for="name"><b>Name</b></label>
            <input type="text" id="name" placeholder="name" th:field="*{name}" required/> <br></br>

            <label for="img"><b>Select image:</b></label> &nbsp;&nbsp;&nbsp;
            <input type="file" id="img" name="image" accept="image/*">
            <br></br>
            <button type="submit" class="registerbtn">Register</button>
        </div>

        <div class="container signin" th:if="${sessions == null}">
            <p>Already have an account? <a href="/">Sign in</a></p>
        </div>

    </form>

</div>

<footer class="foot" th:if="${sessions != null}">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span>| Logged user:  admin | Roles: Admin | <a th:href="@{/logout}" role="menuitem">Sign Out</a></span>
</footer>
</body>
</html>