<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>

</head>
<body>
<ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
    <li><a href="/dashboard">DASHBOARD</a></li>
    <li class="dropdown">
        <a href="#">USERS</a>
        <div class="dropdown-content">
            <a href="/user/list">LIST</a>
            <a href="/user/find" sec:authorize-expr="hasAuthority('ADMIN')">FIND</a>
            <a href="/user/register">REGISTER</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="active" href="#">MOVIES</a>
        <div class="dropdown-content">
            <a href="/movie/ratings">RATINGS</a>
            <a href="/movie/search">SEARCH</a>
            <a href="/movie/myfav">FAVOURITE</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="#">MORE</a>
        <div class="dropdown-content">
            <a href="/about-us">ABOUT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </li>
</ul>

<div class="content">
    <h3>List of All Registered User</h3><br>
    <table width="100%">
        <tr>
            <th>Serial</th>
            <th>Username</th>
            <th>Name</th>
            <th>Role</th>
            <th>Last Login</th>
            <th>Action</th>

        </tr>
        <tr th:each="user,iterationStatus : ${users}">
            <td th:text="${iterationStatus.count}">1</td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${#temporals.format(user.lastLoginAt, 'dd-MM-yyyy HH:mm')}"></td>
            <td>&nbsp;&nbsp;&nbsp;
                <a th:href="@{/user/delete(id=${user.id})}">
                    <i>&#9986;</i></a>
            </td>

        </tr>
    </table>


</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}" role="menuitem">Sign Out</a>
                </span>
</footer>
</body>
</html>