<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}"/>

</head>
<body style="background:#333 url(/css/img/bg.jpg) repeat top left;">

<nav>
    <ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/user/list">USERS</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn active">MOVIES</a>
            <div class="dropdown-content">
                <a href="/movie/ratings" sec:authorize-expr="hasAuthority('ADMIN')">RATINGS</a>
                <a href="/movie/search">SEARCH</a>
                <a href="/movie/myfav">FAVOURITE</a>
            </div>
        </li>
        <li class="right"><a href="/about-us">ABOUT</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">MORE</a>
            <div class="dropdown-content">
                <a href="/user/find" sec:authorize-expr="hasAuthority('ADMIN')">FIND USER</a>
                <a href="/about-us">ABOUT</a>
                <a th:href="@{/logout}">LOGOUT</a>
            </div>
        </li>
    </ul>

</nav>

<div class="content">
    <link rel="stylesheet" href="/css/form/style.css">
    <section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
        <ul class="cd-faq__categories">
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/find">Find User</a></li>
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/list">User List</a></li>
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/register">Register</a></li>
            <li><a class="cd-faq__category truncate" href="/about-us">About</a></li>
            <li><a class="cd-faq__category truncate" th:href="@{/logout}">Logout</a></li>
        </ul>

        <div class="cd-faq__items">

            <ul id="delivery" class="cd-faq__group">
                <li style="text-align: center;"><h3 style="color: #cccccc;">USER RATINGS</h3></li><br>
                <table>
                    <tr>
                        <th>Serial</th>
                        <th>Poster</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>IMDB Rating</th>
                        <th>User Name</th>
                        <th>User Rating</th>
                    </tr>
                    <tr th:each="movie,iterationStatus : ${movies}" style="color: #cccccc">
                        <td th:text="${iterationStatus.count}">1</td>
                        <td><img th:src="${movie.Poster}" th:height="150px" th:width="150px"/></td>
                        <td>
                            <span th:text="${movie.Title}"></span>
                        </td>
                        <td th:text="${movie.Year}"></td>
                        <td th:text="${movie.imdbRating}"></td>
                        <td th:text="${movie.userName}"></td>
                        <td  th:text="${movie.userRating}"></td>
                    </tr>
                </table>

            </ul>
        </div>
    </section>
</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}" role="menuitem">Sign Out</a>
                </span>
</footer>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        background: hsl(210, 14%, 49%);
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: hsl(210, 14%, 49%);}

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

</body>
</html>