<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>
<ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
    <li><a href="/dashboard">DASHBOARD</a></li>
    <li class="dropdown">
        <a href="#">USERS</a>
        <div class="dropdown-content">
            <a href="/user/list">LIST</a>
            <a href="/user/find" sec:authorize-expr="hasAuthority('ADMIN')">FIND</a>
            <a href="/user/register">REGISTER</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="active" href="#">MOVIES</a>
        <div class="dropdown-content">
            <a href="/movie/ratings">RATINGS</a>
            <a href="/movie/search">SEARCH</a>
            <a href="/movie/myfav">FAVOURITE</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="#">MORE</a>
        <div class="dropdown-content">
            <a href="/about-us">ABOUT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </li>
</ul>

<div class="content">
        <h2>Search By Movie Title</h2>
        <form th:action="@{/movie/search}" th:method="POST" modelAttribute="title">
            <input type="text" name="title" id="cls" placeholder="Search By Movie Title"/>
            <input type="submit"  id="btn" value="SEARCH"/><br><br>
        </form>
        <br>
        <form th:action="@{/movie/rate}" th:method="POST" th:object="${movie}">
            <table width="100%">
                <thead>
                <tr>
                    <th>Serial</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th>Your rating</th>
                    <th>Is Favourite</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img th:src="${movie.Poster}" th:height="150px" th:width="150px"/></td>
                    <td>
                        <span th:text="${movie.Title}">Title</span>
                        <input th:hidden="hidden" type="text" th:field="*{imdbID}" th:value="${movie.imdbID}"/>
                    </td>
                    <td th:text="${movie.Year}"></td>
                    <td th:text="${movie.imdbRating}"></td>
                    <td>
                        <select th:field="*{userRating}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                    <td>
                        <select th:if="${movie.isFavourite}">
                            <option value="true">YES</option>
                            <option value="false">NO</option>
                        </select>
                    </td>
                    <td><input type="submit" value="Save"/></td>
                </tr>
                </tbody>
            </table>
        </form>


</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}" role="menuitem">Sign Out</a>
                </span>
</footer>

</body>
</html>