<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}"/>

</head>
<body style="background:#333 url(/css/img/bg.jpg) repeat top left;">
<form id="logoutForm" hidden="hidden" method="post" th:action="@{/logout}">

</form>
<nav>
    <ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/user/list">USERS</a></li>
        <li><a class="active" href="/movie/search">SEARCH MOVIES</a></li>
        <li class="right"><a href="/about-us">ABOUT</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">MORE</a>
            <div class="dropdown-content">
                <a href="/user/find" sec:authorize-expr="hasAuthority('ADMIN')">Find User</a>
                <a href="/about-us">About</a>
                <a href="#" id="logout">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div class="content">
    <link rel="stylesheet" href="/css/form/style.css">
    <section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
        <ul class="cd-faq__categories">
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/find">Find User</a></li>
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/list">User List</a></li>
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/register">Register</a></li>
            <li><a class="cd-faq__category truncate" href="#">About</a></li>
            <li><a class="cd-faq__category truncate" id="logout" href="#delivery">Logout</a></li>
        </ul>

        <div class="cd-faq__items">

            <ul id="delivery" class="cd-faq__group">
                <li class="cd-faq__title"><h2>Search By Movie Title</h2></li>
                <form th:action="@{/movie/search}" th:method="POST" modelAttribute="title">
                    <input type="text" name="title" id="cls" placeholder="Search By Movie Title"/>
                    <input type="submit"  id="btn" value="SEARCH"/><br><br>
                </form>
                <br>
                <form th:action="@{/movie/rate}" th:method="POST" th:object="${movie}">

                    <table>
                        <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Title</th>
                            <th>Year</th>
                            <th>Rating</th>
                            <th>Your rating</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="color: #cccccc">
                            <td><img th:src="${movie.Poster}" th:height="150px" th:width="150px"/></td>
                            <td>
                                <span th:text="${movie.Title}">Title</span>
                                <input th:hidden="hidden" type="text" th:field="*{imdbID}" th:value="${movie.imdbID}"/>
                            </td>
                            <td th:text="${movie.Year}"></td>
                            <td th:text="${movie.imdbRating}"></td>
                            <td>
                                <select th:field="*{userRating}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </td>
                            <td><input type="submit" value="Save"/></td>
                        </tr>
                        </tbody>
                    </table>
                </form>

            </ul>
        </div>

        <a href="#0" class="cd-faq__close-panel text-replace">Close</a>

        <div class="cd-faq__overlay" aria-hidden="true"></div>
    </section>
</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a href="javascript: document.footerLogout.submit()" role="menuitem">Sign Out</a>
                    <form name="footerLogout" th:action="@{/logout}" method="POST" th:hidden="true">
                         <input th:hidden="true" type="submit" value="Logout"/>
                    </form>
                </span>
</footer>



<script>
    window.onload = function() {
        var logoutBtn = document.getElementById('logout');
        logoutBtn.addEventListener('click', function (e) {
            e.preventDefault();
            var form = document.getElementById('logoutForm');
            console.log('Logging out');
            form.submit();
        }, false);
    };

</script>
</body>
</html>