<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>

</head>
<body>

<ul class="topnav">
    <li><a href="/">DASHBOARD</a></li>
    <li class="dropdown">
        <a href="#">USERS</a>
        <div class="dropdown-content">
            <a href="/user/list">LIST</a>
            <a href="/user/find">FIND</a>
            <a href="/user/register">REGISTER</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="active" href="#">MOVIES</a>
        <div class="dropdown-content">
            <a href="/movie/ratings">RATINGS</a>
            <a href="/movie/search">SEARCH</a>
            <a href="/movie/myfav">FAVOURITE</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="#">MORE</a>
        <div class="dropdown-content">
            <a href="/user/about-us">ABOUT</a>
            <a th:href="@{/logout}">LOGOUT</a>
        </div>
    </li>
</ul>

<div class="content">

    <h2>Search By Movie Title</h2>
    <form th:action="@{/movie/search}" th:method="POST" modelAttribute="title">
        <input type="text" name="title" id="cls" placeholder="Search By Movie Title"/>
        <input type="submit" id="btn" value="SEARCH"/>
    </form>
    <br><br><br>
    <table th:if="${not #lists.isEmpty(movies) }" id="search-tbl">
        <thead>
        <tr>
            <th>Serial</th>
            <th>Title</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="movie,iterationStatus : ${movies}">
            <td th:text="${iterationStatus.count}">1</td>
            <td><a th:href="@{'/movie/rate/' + ${movie.imdbID}}" th:text="${movie.Title}"></a></td>
            <td th:text="${movie.year}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span>| Logged user:  admin | Roles: Admin | <a th:href="@{/logout}" role="menuitem">Sign Out</a></span>
</footer>
</body>
</html>