<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}"/>

</head>
<body style="background:#333 url(/css/img/bg.jpg) repeat top left;">
<form id="logoutForm" hidden="hidden" method="post" th:action="@{/logout}">

</form>
<nav>
    <ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
        <li><a class="active" href="/dashboard">DASHBOARD</a></li>
        <li><a href="/user/list">USERS</a></li>
        <li><a href="/movie/search">SEARCH MOVIES</a></li>
        <li class="right"><a href="/about-us">ABOUT</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">MORE</a>
            <div class="dropdown-content">
                <a href="/user/find" sec:authorize-expr="hasAuthority('ADMIN')">Find User</a>
                <a href="/about-us">About</a>
                <a href="#" id="logout">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div class="content">
    <link rel="stylesheet" href="/css/form/style.css">
    <section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
        <ul class="cd-faq__categories">
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="user/find">Find User</a></li>
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="user/list">User List</a></li>
            <li sec:authorize-expr="hasAuthority('ADMIN')"><a class="cd-faq__category truncate" href="/user/register">Register</a></li>
            <li><a class="cd-faq__category truncate" href="#privacy">About</a></li>
            <li><a class="cd-faq__category truncate" id="logout" href="#delivery">Logout</a></li>
        </ul> <!-- cd-faq__categories -->

        <div class="cd-faq__items">

            <ul id="delivery" class="cd-faq__group css-slider with-responsive-images with-selection-disabled with-reflection with-fade-in">
                <a class="cd-faq__trigger" href="#"><span>Welcome to the Most Amazing Movie Library</span></a>
                <li class="">
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p align="justify" style="font-family: Arial; font-size: 20px">
                                Welcome to this web application, here you can browse movies and  rate them.
                                The web application is connected with a database with a lot of movies in it, we(the admins) hope that you will be able to find your favourite movie without a problem.
                                Soo, don’t hesitate to click on the “Search movie” to start rating your favourite movie(s).

                            </p>
                        </div>
                    </div>
                </li>
                <div class="container">
                    <div class="mySlides">
                        <div class="numbertext">1 / 6</div>
                        <img src="/css/img/avengers_endgame.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 6</div>
                        <img src="/css/img/Fast&furious.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 6</div>
                        <img src="/css/img/GameOfThrones.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">4 / 6</div>
                        <img src="/css/img/HowIMetYourMother.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">5 / 6</div>
                        <img src="/css/img/LionKing.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">6 / 6</div>
                        <img src="/css/img/TheWitcher.jpg" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>

                    <div class="row">
                        <div class="column">
                            <img class="demo cursor" src="/css/img/avengers_endgame.jpg" style="width:100%" onclick="currentSlide(1)" alt="Avengers: EngGame">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/css/img/Fast&furious.jpg" style="width:100%" onclick="currentSlide(2)" alt="Fast & Furious">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/css/img/GameOfThrones.jpg" style="width:100%" onclick="currentSlide(3)" alt="Game Of Thrones">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/css/img/HowIMetYourMother.jpg" style="width:100%" onclick="currentSlide(4)" alt="How I met your Mother">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/css/img/LionKing.jpg" style="width:100%" onclick="currentSlide(5)" alt="THe Lion King">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/css/img/TheWitcher.jpg" style="width:100%" onclick="currentSlide(6)" alt="The Witcher">
                        </div>
                    </div>
                </div>

            </ul>
        </div>

    </section>
</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a href="javascript: document.footerLogout.submit()" role="menuitem">Sign Out</a>
                <form name="footerLogout" th:action="@{/logout}" method="POST" th:hidden="true">
                     <input th:hidden="true" type="submit" value="Logout"/>
                </form>
            </span>
</footer>



<script>
    window.onload = function() {
        var logoutBtn = document.getElementById('logout');
        logoutBtn.addEventListener('click', function (e) {
            e.preventDefault();
            var form = document.getElementById('logoutForm');
            console.log('Logging out');
            form.submit();
        }, false);
    };
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>
</body>
</html>