<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
</head>
<body>

<ul class="topnav">
    <li><a class="active" href="/">DASHBOARD</a></li>
    <li class="dropdown">
        <a href="#">USERS</a>
        <div class="dropdown-content">
            <a href="/user/list">LIST</a>
            <a href="/user/find">FIND</a>
            <a href="/user/register">REGISTER</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="#">MOVIES</a>
        <div class="dropdown-content">
            <a href="/movie/ratings">RATINGS</a>
            <a href="/movie/search">SEARCH</a>
            <a href="/movie/myfav">FAVOURITE</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="#">MORE</a>
        <div class="dropdown-content">
            <a href="/user/about-us">ABOUT</a>
            <a href="/logout">LOGOUT</a>
        </div>
    </li>
</ul>


<div class="content">
    <a class="text-dashboard" href="#"><span>Welcome to the Most Amazing Movie Library</span></a>
    <p class="text-content" align="justify">
        Welcome to this web application, here you can browse movies and  <a href="/movie/ratings">Rate</a> them.
        The web application is connected with a database with a lot of movies in it, we(the admins) hope that you will be able to find your favourite movie without a problem.
        Soo, don’t hesitate to click on the <a href="/movie/search">Search movie</a> to start rating your <a href="/movie/myfav">favourite</a> movie(s).
    </p>

</div>

<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span>
                | Logged user:
                <a th:href="@{/logout}" role="menuitem">Sign Out</a>
            </span>
</footer>

</body>
</html>