<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/main/main.css}"/>

</head>
<body style="background:#333 url(/css/img/bg.jpg) repeat top left;">
<form id="logoutForm" hidden="hidden" method="post" th:action="@{/logout}">

</form>
<nav>
    <ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
        <li><a class="active" href="/dashboard">DASHBOARD</a></li>
        <li><a href="/user/list">USERS</a></li>
        <li><a href="/movie/search">SEARCH MOVIES</a></li>
        <li class="right"><a href="/about-us">ABOUT</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">MORE</a>
            <div class="dropdown-content">
                <a href="#">My Account</a>
                <a href="/about-us">About</a>
                <a href="#" id="logout">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div class="content">
    <div layout:fragment="page_content"></div>
</div>

<footer style="text-align: center;color: #cccccc">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a href="javascript: document.footerLogout.submit()" role="menuitem">Sign Out</a>
                <form name="footerLogout" th:action="@{/logout}" method="POST" th:hidden="true">
                     <input th:hidden="true" type="submit" value="Logout"/>
                </form>
            </span>
</footer>



<script>
    window.onload = function() {
        var logoutBtn = document.getElementById('logout');
        logoutBtn.addEventListener('click', function (e) {
            e.preventDefault();
            var form = document.getElementById('logoutForm');
            console.log('Logging out');
            form.submit();
        }, false);
    };

</script>
</body>
</html>