<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Movie Review</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/about.css}"/>
</head>
<body>
    <ul class="topnav" th:if="${#authorization.expression('isAuthenticated()')}">
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li class="dropdown">
            <a href="#">USERS</a>
            <div class="dropdown-content">
                <a href="/user/list">LIST</a>
                <a href="/user/find" sec:authorize-expr="hasAuthority('ADMIN')">FIND</a>
                <a href="/user/register">REGISTER</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="active" href="#">MOVIES</a>
            <div class="dropdown-content">
                <a href="/movie/ratings">RATINGS</a>
                <a href="/movie/search">SEARCH</a>
                <a href="/movie/myfav">FAVOURITE</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">MORE</a>
            <div class="dropdown-content">
                <a href="/about-us">ABOUT</a>
                <a th:href="@{/logout}">LOGOUT</a>
            </div>
        </li>
    </ul>

</nav>
<div class="about-section">
    <h1>About Us</h1><br>
    <h3>Matthew Georgiev & Andrew Stoyanov</h3><br>
    <img src="/img/univ.png" width="215px">
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/img/Metthew.jpg" alt="Jane" style="width:100%">
            <div class="container" style="color: #cccccc">
                <h3 style="color: #cccccc; font-size: 25px">Matthew Georgiev </h3>
                <p class="title">Student Number 474371</p>
                <p align="justify" style="font-size: 15px">ICT student in Saxion University of Applied Sciences. We are highly motivated students, ready to explore the depths of the computer sciences.
                    Front-end developer of this web application, helping Andrew with the back-end. Design creator.
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card1">
            <img src="/img/Andrew.jpg" alt="Mike" style="width:100%">
            <div class="container" style="color: #cccccc">
                <h3 style="color: #cccccc;font-size: 25px">Andrew Stoyanov</h3>
                <p class="title">Student Number 287228</p>
                <p align="justify" style="font-size: 15px">I am a student in Saxion University of Applied Sciences.
                    Back-end developer, helping Matthew with the front-end.
                    Working together we tried to see if the back-end works with the front-end at all the time. Step by step getting closer to a finished product. We are fully confident that we succeeded in making a good Web application.
                </p>
            </div>
        </div>
    </div>


</div>
<footer class="foot">
    © 2020 Matthew Georgiev and Andrew Stoyanov
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a href="/logout" role="menuitem">Sign Out</a>
            </span>
</footer>
</body>
</html>
